.an-banner  
  figure.an-banner-figure 
    img(src=`${ root_img }/banner.jpeg`, alt="Computador con codigo CSS")
  section.an-banner-caption
    h2.an-caption-title Diseño y Desarrollo web
    p.an-caption-paragraph 
      i.ico 
      | Soacha, Cundinamarca
    a.an-caption-button Contactar