main.an-main-cards
  h2
  section.an-card
    i.ico 
    h3 Diseño Web
    p Consequatur veniam consectetur distinctio facilis modi blanditiis vel, in, odio maxime aliquid odit. Nemo pariatur unde placeat sint!
  section.an-card
    i.ico 
    h3 Aplicaciones Web 
    p Consequatur veniam consectetur distinctio facilis modi blanditiis vel, in, odio maxime aliquid odit. Nemo pariatur unde placeat sint!
  section.an-card
    i.ico 
    h3 E-Commerce
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis delectus eum corporis. 