extends ../_base

block variables
  //- variables head meta
  -var page_title       = 'Home'
  -var page_description = 'Proyectos realizados'
  -var page_author      = 'Angélica Aguilar'
  //- Menu current page
  -var page_current    = 'Inicio'

block content 
