header.an-header 
  h1 Angélica Aguilar 
  nav.an-navbar 
    ul.an-navbar_list 
      li.an-navbar_list-item 
        a(href="#") Inicio 
      li.an-navbar_list-item
        a(href="#") Nosotros
      li.an-navbar_list-item
        a(href="#") Clientes 
      li.an-navbar_list-item
        a(href="#") Contactos

