header.an-header
  figure.an-header-brand
    img.an-brand-img(src=`${ root_img }/brand-angelica.svg`, alt="Angelica Aguilar")
  nav.an-navbar 
    a.an-navbar-link(href="#")
      span.an-link-ico.ag-link-ico_home
      | Inicio

    a.an-navbar-link(href="#")
      span.an-link-ico.ag-link-ico_contact
      | Contactar

    a.an-navbar-link(href="#")
      span.an-link-ico.ag-link-ico_social-media
      | Redes sociales


